.wrapper.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chapters {
    display: flex;
    flex-direction: column;
}

img {
    width: 600px;
}